@import "tailwindcss";

:root {
  --background: #0B0B0B;
  --main-text: #FFFFFF;
  --emphasis: #E10600;
  --cards: #1F1F1F;
  --cards-opacity: #1f1f1f8e;
  --secondary-text: #B5B5B5;
  --cta: #25D366;
  --cards-gradient: #141414;
}

body {
  background-color: var(--background);
  color: var(--main-text);
  font-family: 'Geist Sans', sans-serif;
}

header {
  background: radial-gradient(circle,var(--cards) 80%, var(--cards-gradient) 100%);
  justify-content: space-between;
  align-items: center;

  #Body {
    color: var(--emphasis);
    font-weight: bold;
  }
  #Fit {
    color: var(--main-text);
    font-weight: normal;
  }

  #header-line {
    background: linear-gradient(90deg,var(--cards) 62%, var(--emphasis) 100%);
    padding: 0.5px;
  }
}

#card-man {
  background-image: url("/assets/wallpaper-card.png");
  background-size: cover;
  background-position: center;
  justify-content: space-around;

  #card-man-text {
    h1 {
      color: var(--main-text);
      font-size: 2rem;
      font-weight: bold;
    }
  }
}

#card-line {
  background: radial-gradient(circle,var(--emphasis) 61%, var(--cards) 68%);
  padding: 0.5px;
}

#card-icons {
  background: var(--main-text);
  justify-content: center;
  align-items: center;
  color: var(--background);
  gap: 2rem;
  font-weight: bold;
  font-size: 0.777rem;

  #space {
    color: #868585;
    height: 1rem;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
     
    img {
      width: 40px;
      height: 40px;
    }
  }
}

#card-planes {
  background-image: url("/assets/wallpaper-card.png");
  background-size: cover;
  background-position: center;
}

#card-objections {
  background-image: url("/assets/wallpaper-card.png");
  background-size: cover;
  background-position: center;

}

.objection-item {
    padding: 2rem;
    margin: 2rem;
    background: linear-gradient(101deg,rgba(31, 31, 31, 1) 11%, rgba(31, 31, 31, 0.02) 100%);

    strong {
      color: var(--emphasis);
      font-weight: bold;
      font-size: 1.27rem;
    }

    h2 {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1rem;
      line-height: 1.5;
    }
  }
